@import "../../style.scss";

.leaders {
    @include themify($themes) {
        flex: 7;

        color: themed("textColor");
        background-color: themed("bgSoft");

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 50px;
        padding-top: 40px;

        .leader {
            -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);

            width: 80%;

            border-radius: 20px;
            background-color: themed("bg");
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;

            .info {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .points {
                font-weight: 800;
            }
        }
    }
}
