.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

// .posts_grid {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-gap: 50px;
//     justify-items: center;
// }
